# Byte-compiled / optimized / DLL files
*__pycache__/
*.pyc

# Distribution / packaging
dist/
target/
*.so
*.dll
*.pyd

# Virtual envs
venv
.venv

# Testing
.hypothesis/
.benchmarks/
benchmark.json
.coverage
.coverage.*
coverage.xml

# Various tools caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.rumdl_cache/

# Documentation
site/

# VSCode
.vscode/

# IntelliJ IDEA / PyCharm
.idea/

# MacOS
.DS_Store
